<script type="text/ng-template" id="sanji-cellular-info.tpl.html">
  <div ng-if="0 === vm.tabs.length" layout="column" layout-align="center center">
    <div flex>
      <md-icon ng-md-icon icon="portable_wifi_off" size="100" style="width: 100px; height: 100px;"></md-icon>
    </div>
    <md-subheader class="md-warn">
      <span translate="CELLULAR_INFO_NO_MODULE_MSG"></span>
    </md-subheader>
  </div>
  <md-tabs md-dynamic-height md-border-bottom ng-if="0 < vm.tabs.length" mobx-autorun>
    <md-tab ng-repeat="tab in vm.tabs track by $index"
    label="{{::tab.content.name}}">
      <cellular-signal signal="tab.content.signal.rssi"></cellular-signal>
      <md-list>
        <md-subheader class="md-accent">
          <span translate="CELLULAR_INFO_BASIC"></span>
        </md-subheader>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_CONNECTION_STATUS"></p>
          <span ng-bind="tab.content.status"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_SIGNAL_RSSI"></p>
          <span ng-bind="tab.content.signal.rssi"></span>
          <span>dBm</span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_SIGNAL_ECIO"></p>
          <span ng-bind="tab.content.signal.ecio"></span>
          <span>dBm</span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_OPERATOR"></p>
          <span ng-bind="tab.content.operatorName"></span>
        </md-list-item>
        <div ng-if="tab.content.pdpContext.static">
          <md-list-item>
            <p class="md-body-2" translate="CELLULAR_INFO_PRIMARY_APN"></p>
            <span ng-bind="tab.content.pdpContext.primary.apn"></span>
          </md-list-item>
          <md-list-item>
            <p class="md-body-2" translate="CELLULAR_INFO_SECONDARY_APN"></p>
            <span ng-bind="tab.content.pdpContext.secondary.apn"></span>
          </md-list-item>
        </div>
        <md-list-item ng-if="!tab.content.pdpContext.static">
          <p class="md-body-2" translate="CELLULAR_INFO_PACKET_DATA_PROTOCOL"></p>
          <span ng-bind="tab.content.pdpContext.id"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_MODE"></p>
          <span ng-bind="tab.content.mode"></span>
        </md-list-item>
        <md-list-item ng-if="tab.content.lac">
          <p class="md-body-2" translate="CELLULAR_INFO_LAC"></p>
          <span ng-bind="tab.content.lac"></span>
        </md-list-item>
        <md-list-item ng-if="tab.content.tac">
          <p class="md-body-2">TAC</p>
          <span ng-bind="tab.content.tac"></span>
        </md-list-item>
        <md-list-item ng-if="tab.content.nid">
          <p class="md-body-2">NID</p>
          <span ng-bind="tab.content.nid"></span>
        </md-list-item>
        <md-list-item ng-if="tab.content.cellId">
          <p class="md-body-2">CELL ID</p>
          <span ng-bind="tab.content.cellId"></span>
        </md-list-item>
        <md-list-item ng-if="tab.content.bid">
          <p class="md-body-2">BID</p>
          <span ng-bind="tab.content.bid"></span>
        </md-list-item>
        <md-list-item ng-if="tab.content.imsi">
          <p class="md-body-2">IMSI</p>
          <span ng-bind="tab.content.imsi"></span>
        </md-list-item>
        <md-list-item ng-if="tab.content.imei">
          <p class="md-body-2" translate="CELLULAR_INFO_IMEI"></p>
          <span ng-bind="tab.content.imei"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_PIN_REMAIN_TIME"></p>
          <span ng-bind="tab.content.pinRetryRemain"></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-accent">
          <span translate="CELLULAR_INFO_NETWORK"></span>
        </md-subheader>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_IP"></p>
          <span ng-bind="tab.content.ip"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_NETMASK"></p>
          <span ng-bind="tab.content.netmask"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_GATEWAY"></p>
          <span ng-bind="tab.content.gateway"></span>
        </md-list-item>
        <md-list-item ng-repeat="dns in tab.content.dns track by $index">
          <p class="md-body-2">{{'CELLULAR_INFO_DNS' | translate}} {{$index + 1}}</p>
          <span ng-bind="dns || ''"></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-accent">
          <span translate="CELLULAR_INFO_USAGE"></span>
        </md-subheader>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_TRANSMIT_USAGE"></p>
          <span ng-bind="tab.content.usage.txkbyte | kbFmt:0"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_RECEIVE_USAGE"></p>
          <span ng-bind="tab.content.usage.rxkbyte | kbFmt:0"></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-accent">
          <span translate="CELLULAR_INFO_KEEPALIVE"></span>
        </md-subheader>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_STATUS"></p>
          <span ng-bind="tab.content.keepalive.enable"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_TARGET_HOST"></p>
          <span ng-bind="tab.content.keepalive.targetHost"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="CELLULAR_INFO_PING_INTERVAL"></p>
          <span ng-bind="tab.content.keepalive.intervalSec"></span>
          <span translate="CELLULAR_SEC"></span>
        </md-list-item>
      </md-list>
    </md-tab>
  </md-tabs>
</script>