<script type="text/ng-template" id="sanji-cellular-form.tpl.html">
  <div ng-if="0 === $ctrl.tabs.length" layout="column" layout-align="center center">
    <div flex>
      <ng-md-icon icon="portable_wifi_off" size="100" style="width: 100px; height: 100px;"></ng-md-icon>
    </div>
    <md-subheader class="md-warn">
      <span translate="CELLULAR_INFO_NO_MODULE_MSG"></span>
    </md-subheader>
  </div>
  <md-tabs ng-if="0 < $ctrl.tabs.length" md-dynamic-height md-border-bottom md-selected="$ctrl.tabIndex">
    <md-tab ng-repeat="tab in $ctrl.tabs track by $index"
    label="{{::tab.content.name}}">
      <form ng-submit="$ctrl.save(tab)"
        role="form" layout="column" layout-padding novalidate>
          <formly-form model="tab.content"
          options="tab.formOptions" fields="tab.fields" form="tab.form">
            <div layout layout-align="end center">
              <md-button type="submit" class="md-raised md-primary"
              aria-label="sumit"
              ng-disabled="tab.form.$invalid">
                <sapn translate="CELLULAR_FORM_SAVE"></span>
              </md-button>
            </div>
          </formly-form>
          <md-zippy ng-if="$ctrl.carrier.switchable" title="{{'CELLULAR_FORM_SWITCH_CARRIER' | translate}}">
            <div layout="column" layout-padding novalidate>
              <p translate="CELLULAR_FORM_SWITCH_CARRIER_MSG"></p>
              <p>
                <span translate="CELLULAR_FORM_CURRENT_CARRIER"></span>
                <span>{{': ' + $ctrl.carrier.current.carrier}}</span>
              </p>
              <md-input-container class="md-block">
                <label translate="CELLULAR_FORM_CARRIER"></label>
                <md-select ng-model="$ctrl.currentCarrier" aria-label="select carrier">
                  <md-option ng-repeat="item in $ctrl.carrier.available track by $index"
                    ng-value="item" ng-selected="$ctrl.currentCarrier.carrier === item.carrier">
                    <span>{{item.carrier}}</span>
                  </md-option>
                </md-select>
              </md-input-container>
              <div layout layout-align="end center">
                <md-button type="button" class="md-raised md-primary"
                aria-label="set carrier" ng-click="$ctrl.setCarrier($ctrl.currentCarrier)">
                  <sapn translate="CELLULAR_FORM_APPLY"></span>
                </md-button>
              </div>
            </div>
          </md-zippy>
      </form>
    </md-tab>
  </md-tabs>
</script>
